<%
  mixit ||= false

  css_class = "related-units"

  if mixit
    css_class = "mix #{mixit_class(unit)}"
  end
%>
<a href="<%= product_uri(unit) %>" class="<%= css_class %> w-inline-block">
  <div class="div-image">
  <img data-src="<%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %>" class="lazyload"/>
  </div>
  <div class="div-flex-h align-center">
    <div class="product-name smaller"><%= model(unit) %></div>
    <%= image_tag brand_logo(unit), width: 80, class: "image-brand" %>
  </div>
  <div class="div-product-details new">
    <div class="blue-text-left">Tons</div>
    <div><strong><%= tons(unit) %></strong></div>
  </div>
  <div class="div-product-details new">
    <div class="blue-text-left">SEER</div>
    <div><strong><%= seer(unit) %></strong></div>
  </div>
</a>
