<%
  mixit ||= false

  css_class = "related-units"

  if mixit
    css_class = "mix #{mixit_class(unit)}"
  end
%>
<a href="<%= product_uri(unit) %>" data-price="<%= price(unit) %>" class="<%= css_class %> w-inline-block">
  <div class="div-image">
    <picture class="lazyload">
      <source srcset="<%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 1770px)">
      <source srcset="<%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 1440px)">
      <source srcset="<%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 1280px)">
      <source srcset="<%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 1024px)">
      <source srcset="<%= cloudinary_resize(product_image(unit), 450, 300, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 768px)">
      <source srcset="<%= cloudinary_resize(product_image(unit), 400, 300, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
        media="(min-width: 480px)">
        <source srcset="<%= cloudinary_resize(product_image(unit), 150, 120, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 600, 400, 'fit') %> 2x"
          media="(min-width: 320px)">
      <img srcset="<%= cloudinary_resize(product_image(unit), 200, 120, 'fit') %> 1x, <%= cloudinary_resize(product_image(unit), 300, 200, 'fit') %> 2x">
    </picture>
  </div>
  <div class="div-flex-h align-center">
    <div class="product-name smaller"><%= model(unit) %></div>
    <%= image_tag brand_logo(unit), width: 80, class: "image-brand" %>
  </div>
  <div class="div-product-details new">
    <div class="blue-text-left">Tons</div>
    <div><strong><%= tons(unit) %></strong></div>
  </div>
  <div class="div-product-details new">
    <div class="blue-text-left">SEER</div>
    <div><strong><%= seer(unit) %></strong></div>
  </div>
  <% if unit['CU Model'] %>
    <div class="div-product-details new">
      <div class="blue-text-left">Condenser</div>
      <div><strong><%= unit['CU Model'] %></strong></div>
    </div>
  <% end %>
  <% if unit['AHU Model'] %>
    <div class="div-product-details new">
      <div class="blue-text-left">Air Handler</div>
      <div><strong><%= unit['AHU Model'] %></strong></div>
    </div>
  <% end %>

</a>
