<%= content_for(:head) do
    display_meta_tags title: "#{brand(unit)} - #{model(unit)} - #{tons(unit)} tons - Nationwide HVAC"
  end
%>
<% content_for(:head) do %>
  <link href="<%= current_page.url %>" rel="canonical"/>
<% end %>

<%= input_tag 'hidden', id: 'price-zone-1', value: unit['Installed Price Zone 1'] %>
<%= input_tag 'hidden', id: 'price-zone-2', value: unit['Installed Price Zone 2'] %>

<div class="section-hero-interior">
  <%= image_tag brand_logo(unit), width: 200, 'data-ix': "hereo-appear-1" %>
</div>
<div class="breadcrumbs">
  <a href="/ac-units" class="breadcrumb-link">
    A/C Units
  </a>
  <span class="breadcrumb-link arrow">></span>
  <%= system_type_bc(unit) %>
  <span class="breadcrumb-link arrow">></span>
  <a href="#" class="breadcrumb-link active"><%= model(unit) %></a>
</div>
<div class="section-product-details">
  <%= partial '/partials/price_display_form' %>
  <div class="container">
    <div class="div-flex-h justify-start added-bot-margin">
      <div class="div-40">
        <%= partial '/partials/slider_photo', locals: { unit: unit } %>
      </div>
      <div class="div-60">

        <h1 class="product-name smaller">
          <strong><%= brand(unit) %> - <%= model(unit) %> - <%= tons(unit) %> tons</strong></h1>
        <div>Up to <%= seer(unit) %> SEER Performance</div>
        <div class="more-spec">
          <div class="div-product-details smaller">
            <div class="blue-text">Tons</div>
            <div><strong><%= tons(unit) %></strong></div>
          </div>
          <div class="div-product-details smaller">
            <div class="blue-text">SEER</div>
            <div><strong><%= seer(unit) %></strong></div>
          </div>
          <% if unit['CU Model'] %>
            <div class="div-product-details smaller">
              <div class="blue-text">Condenser</div>
              <div><strong><%= unit['CU Model'] %></strong></div>
            </div>
          <% end %>
          <% if unit['AHU Model'] %>
            <div class="div-product-details smaller">
              <div class="blue-text">Air Handler</div>
              <div><strong><%= unit['AHU Model'] %></strong></div>
            </div>
          <% end %>
          <% if unit['Heater model'] %>
            <div class="div-product-details smaller">
              <div class="blue-text">Heater</div>
              <div><strong><%= unit['Heater model'] %></strong></div>
            </div>
          <% end %>
          <% if unit['Warranty'] %>
            <div class="div-product-details smaller">
              <div class="blue-text">Warranty</div>
              <div><strong><%= unit['Warranty'] %></strong></div>
            </div>
          <% end %>
          <div class="div-product-details smaller">
            <div class="blue-text">Price including installation</div>
            <div><strong class="pricing"></strong></div>
          </div>

        </div>
        <div class="div-flex-h align-new">

          <%# Button will be hidden until we have the user's zip code %>
          <a data-item-id="<%= item_id(unit) %>"
             data-item-name="<%= model(unit) %>"
             data-item-price="<%= price(unit) %>"
             data-item-url="<%= product_url(unit) %>"
             data-item-description="<%= cart_description(unit) %>"
             data-item-custom1-name="Installation Fees (based on zip code)"
             data-item-custom1-options="Zone 1[+<%= installation_price(unit, 1) %>]|Zone 2[+<%= installation_price(unit, 2) %>]"
             href="#" class="button added-top-margin w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-button snipcart-add-item">
            Buy now
          </a>

          <a href="#" id="get-installed-price" class="button added-top-margin w-button">Show Installed Price</a>
          <a href="tel:<%= dato.homepage.default_phone %>" class="button-phone w-button">Call US <%= dato.homepage.default_phone %></a>
          <a href="<%= brochure_url(unit) %>" target="_blank" class="button-underline left-margin w-button">
            View brochure
          </a>

        </div>
        <div class="div-product-details smaller"><%= unit['Details'] %></div>
        <div class="div-product-details smaller"><strong>Installation Includes:‍</strong><br/>• Removal of existing system, Installation of new Air Handler Unit(AHU) and Condenser Unit (CU), hurricane tie downs where required, purging and vacuum of existing refrigeration (copper) lines, breaker upgrade where required‍<br/><br/>• Installation of new digital thermostat<br/><br/>‍• Installation of a new float switch (where required)<br/><br/>‍• Complete final cleanup and haul away debris<br/><br/></div>

      </div>
    </div>
  </div>
</div>
<div class="section-related-ac">
  <h3 class="centered-heading">
    <strong>
      Other <%= system_type_key_to_name(unit['System Type']) %> Units
    </strong>
  </h3>
  <div class="div-flex-h justify-start">
    <% if related_units(unit).any? %>
      <% related_units(unit).each do |unit| %>
        <%= partial "/partials/unit_thumbnail", locals: { unit: unit } %>
      <% end %>
    <% else %>
      There is currently no other product similar to this unit
    <% end %>
  </div>
</div>

<%= partial "/partials/section-cta" %>

<% content_for(:footer_scripts) do %>
  <%= javascript_include_tag "unit-details" %>
<% end %>
