<%=
  content_for(:head) do
    display_meta_tags title: "#{model(unit)}"
  end
%>

<div class="section-hero-interior">
  <%= image_tag brand_logo(unit), width: 200, 'data-ix': "hereo-appear-1" %>
</div>
<div class="breadcrumbs">
  <a href="/ac-units" class="breadcrumb-link">
    A/C Units
  </a>
  <span class="breadcrumb-link arrow">></span>
  <%= system_type_bc(unit) %>
  <span class="breadcrumb-link arrow">></span>
  <a href="#" class="breadcrumb-link active"><%= model(unit) %></a>
</div>
<div class="section-product-details">
  <div class="container">
    <div class="div-flex-h justify-start added-bot-margin">
      <div class="div-40">
        <%= partial '/partials/slider_photo', locals: { unit: unit } %>
      </div>
      <div class="div-60">
        <h3 class="cta-heading no-bot-margin">
          <strong><%= model(unit) %></strong></h3>
        <div class="price"><%= display_price(unit) %></div>
        <div>
          <div class="div-product-details">
            <div class="blue-text">Tons</div>
            <div><strong><%= tons(unit) %></strong></div>
          </div>
        </div>
        <div class="div-product-details">
          <div class="blue-text">SEER</div>
          <div><strong><%= seer(unit) %></strong></div>
        </div>
        <% if unit['CU Model'] %>
          <div class="div-product-details">
            <div class="blue-text">Condenser</div>
            <div><strong><%= unit['CU Model'] %></strong></div>
          </div>
        <% end %>
        <% if unit['AHU Model'] %>
          <div class="div-product-details">
            <div class="blue-text">Air Handler</div>
            <div><strong><%= unit['AHU Model'] %></strong></div>
          </div>
        <% end %>
        <% if unit['Heater model'] %>
          <div class="div-product-details">
            <div class="blue-text">Heater</div>
            <div><strong><%= unit['Heater model'] %></strong></div>
          </div>
        <% end %>
        <a data-item-id="<%= item_id(unit) %>"
           data-item-name="<%= model(unit) %>"
           data-item-price="<%= price(unit) %>"
           data-item-url="<%= product_url(unit) %>"
           data-item-description="<%= cart_description(unit) %>"
           data-item-custom1-name="Installation Fees (based on zip code)"
           data-item-custom1-options="Zone 1[+<%= installation_price(unit, 1) %>]|Zone 2[+<%= installation_price(unit, 2) %>]"
           href="#" class="button added-top-margin snipcart-add-item w-button">Buy
          now</a>
        <a href="<%= brochure_url(unit) %>" target="_blank" class="button-underline left-margin w-button">
          View brochure
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section-related-ac">
  <h3 class="centered-heading">
    <strong>
      Other <%= system_type_key_to_name(unit['System Type']) %> Units
    </strong>
  </h3>
  <div class="div-flex-h justify-start">
    <% related_units(unit).each do |unit| %>
      <%= partial "/partials/unit_thumbnail", locals: { unit: unit } %>
    <% end %>
  </div>
</div>

<%= partial "/partials/section-cta" %>

<% content_for(:footer_scripts) do %>
  <script>
    $(document).ready(function ($) {
      var zipData = [];

      $.get({
        url: '/javascripts/data/zip_codes.json'
      })
        .done(function (data) {
          zipData = data
        });

      function installZoneFromZip(zip_code) {
        let idx = zipData.findIndex(obj => obj['Zip'] === parseInt(zip_code));

        if (idx === -1) return null;

        return zipData[idx]['Zone'];
      }

      $('a.snipcart-add-item').click(function (e) {
        let install_options = $(this).data('item-custom1-options').split('|');
        let zip = prompt("Please enter your zip code", "");
        if (zip != null) {
          let zone = installZoneFromZip(parseInt(zip));

          if (zone === null) {
            window.alert('Your zip code is not on our usual territory. Give us a call at 877-910-HVAC to chat with our live agents');
            e.preventDefault();
            return false;
          } else {
            $(this).data('item-custom1-options', install_options[zone - 1]);
          }
        }
      });
    });
  </script>
<% end %>
