<div class="section-hero-interior">
  <%= image_tag brand_logo(unit), width: 200, 'data-ix': "hereo-appear-1" %>
</div>
<div class="breadcrumbs">
  <a href="/ac-units" class="breadcrumb-link">
    A/C Units
  </a>
  <span class="breadcrumb-link arrow">></span>
  <%= system_type_bc(unit) %>
  <span class="breadcrumb-link arrow">></span>
  <a href="#" class="breadcrumb-link active"><%= model(unit) %></a>
</div>
<div class="section-product-details">
  <div class="container">
    <div class="div-flex-h justify-start added-bot-margin">
      <div class="div-40">
        <!-- TODO - Add slider here-->
          <a href="#" class="w-inline-block w-lightbox">
          <img src="../images/gsx14.jpg" alt="">
          <script type="application/json" class="w-json">{
              "items": [
                {
                  "type": "image",
                  "_id": "5bd74b57ea947dc53261c075",
                  "fileName": "5bd74b57ea947dc53261c075_gsx14.jpg",
                  "origFileName": "gsx14.jpg",
                  "width": 400,
                  "height": 400,
                  "fileSize": 31489,
                  "url": "../images/gsx14.jpg"
                }
              ]
            }</script>
            </a>
        <%= image_tag product_image(unit) %>
      </div>
      <div class="div-60">
        <h3 class="cta-heading no-bot-margin">
          <strong><%= model(unit) %></strong></h3>
        <div class="price"><%= display_price(unit) %></div>
        <div>
          <div class="div-product-details">
            <div class="blue-text">Tons</div>
            <div><strong><%= tons(unit) %></strong></div>
          </div>
        </div>
        <div class="div-product-details">
          <div class="blue-text">SEER</div>
          <div><strong><%= seer(unit) %></strong></div>
        </div>
        <% if unit['CU Model'] %>
          <div class="div-product-details">
            <div class="blue-text">Condenser</div>
            <div><strong><%= unit['CU Model'] %></strong></div>
          </div>
        <% end %>
        <% if unit['AHU Model'] %>
          <div class="div-product-details">
            <div class="blue-text">Air Handler</div>
            <div><strong><%= unit['AHU Model'] %></strong></div>
          </div>
        <% end %>
        <% if unit['Heater model'] %>
          <div class="div-product-details">
            <div class="blue-text">Heater</div>
            <div><strong><%= unit['Heater model'] %></strong></div>
          </div>
        <% end %>
        <a data-item-id="<%= item_id(unit) %>" data-item-name="<%= model(unit) %>" data-item-price="<%= price(unit) %>" data-item-url="<%= product_url(unit) %>" data-item-description="<%= cart_description(unit) %>" href="#" class="button added-top-margin snipcart-add-item w-button">Buy
          now</a>
        <a href="<%= brochure_url(unit) %>" target="_blank" class="button-underline left-margin w-button">View
          brochure</a></div>
    </div>
  </div>
</div>
<div class="section-related-ac">
  <h3 class="centered-heading">
    <strong>
      Other <%= system_type_key_to_name(unit['System Type']) %> Units
    </strong>
  </h3>
  <div class="div-flex-h justify-start">
    <% related_units(unit).each do |unit| %>
      <%= partial "/partials/unit_thumbnail", locals: {unit: unit} %>
    <% end %>
  </div>
</div>

<%= partial "/partials/section-cta" %>
