<% products = data.products.reject {|p| p['System Categorization'] == 'Accessories'}  %>
<%
  if system_type_query.present?
    products.select! {|p| p['System Type'] == system_type_query }
  end
%>
<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1">Air <strong>Conditioners</strong>
  </h1>
</div>

<%= partial "/partials/breadcrumbs" %>

<div class="section-product-listing">
  <div class="container">
    <div class="div-flex-h align-start">

      <!-- Search Filter View -->
      <div class="div-20">
        <!-- Products -->
        <div class="div-search">
          <div class="div-search-header">
            <div>Type</div>
          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown bot-top-padding">
                <%= system_types_filter %>
              </div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <!-- Brands -->
        <div class="div-search">
          <div class="div-search-header">
            <div>Brands</div>
          </div>
          <div class="div-search-form w-form">
            <form id="brand-form" name="brand-form" data-name="Brand Form">
              <div class="div-search-dropdown">
                <div class="dropdown">
                  <%= brands_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Seer -->
        <div class="div-search w-hidden-tiny">
          <div class="div-search-header">
            <div>SEER</div>
          </div>
          <div class="div-search-form w-form">
            <form id="seer-form" name="seer-form" data-name="Seer Form">
              <div class="div-search-dropdown">
                <div class="dropdown">
                  <a href="#" data-filter='.seer-14' class="filter_button w-inline-block"><img src="../images/5bd752cd69d9224e90c87dfa_check-sign-in-a-rounded-black-square.svg" alt="" class="image-check-inactive">
                    <div class="checkbox-field"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="checkbox-button">
                      <div class="checkbox-label">14-16</div>
                    </div>
                  </a>
                  <a href="#" data-filter='.seer-16' class="filter_button w-inline-block"><img src="../images/5bd752cd69d9224e90c87dfa_check-sign-in-a-rounded-black-square.svg" alt="" class="image-check-inactive">
                    <div class="checkbox-field"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="checkbox-button">
                      <div class="checkbox-label">16-18</div>
                    </div>
                  </a>
                  <a href="#" data-filter='.seer-18' class="filter_button w-inline-block"><img src="../images/5bd752cd69d9224e90c87dfa_check-sign-in-a-rounded-black-square.svg" alt="" class="image-check-inactive">
                    <div class="checkbox-field"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="checkbox-button">
                      <div class="checkbox-label">18-20</div>
                    </div>
                  </a>
                  <a href="#" data-filter='.seer-20' class="filter_button w-inline-block"><img src="../images/5bd752cd69d9224e90c87dfa_check-sign-in-a-rounded-black-square.svg" alt="" class="image-check-inactive">
                    <div class="checkbox-field"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="checkbox-button">
                      <div class="checkbox-label">20+</div>
                    </div>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Tonnage -->
        <div class="div-search w-hidden-tiny">
          <div class="div-search-header">
            <div>Tonnage</div>
          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group>
                  <%= tonnages_filter %>
                </div>
              </div>
            </form>
            </div>
        </div>
      </div>
      <!-- End of Search Filter View -->

      <!-- Search Results View -->
      <div class="div-flex-h justify-start _75-with">
        <% products.each do |unit| %>
          <%= partial "/partials/unit_thumbnail", locals: {unit: unit, mixit: true} %>
        <% end %>

      </div>
      <!-- End of Search Results View -->

    </div>
  </div>
</div>

<%= partial "/partials/section-cta" %>
