<%=
  content_for(:head) do
    display_meta_tags title: "Shop AC Units", description: "Find the best AC Units for you"
  end
%>

<% content_for(:head) do %>
  <link href="<%= current_page.url %>" rel="canonical"/>
<% end %>

<%
  if system_type_query.present?
    products = data.products.select { |p| p['System Type'].present? && p['System Type'].lstrip.rstrip == system_type_query }
  else
    products = data.products.reject { |p| p['System Type'].nil? }
  end

  products.reject! { |p| p['AHRI'].nil? }
%>

<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1">Air
    <strong>Conditioners</strong>
  </h1>
</div>

<%= partial "/partials/breadcrumbs", locals: { system_type_query: system_type_query } %>

<div class="section-product-listing">
  <div class="container">
    <div class="div-flex-h align-start">

      <!-- Search Filter View -->
      <div class="div-20">

        <!-- Search Filter Trigger - Hide Desktop -->
        <div class="div-search-filter mobile" data-ix="increase-size-filter-mobile">
          <div class="button-filter" data-ix="increase-size-filter"><img src="/images/arrow-right.svg" width="20" alt="" class="arrow-icon"></div>
            <div class="div-search-filter-back">
                <div><strong>Filter 1700 results</strong></div>
          </div>
        </div>
        <!-- Search Filter - Hide Desktop -->
        <div class="div-filter">
            <div class="header-search-filter hide-desktop">
              <div class="filter-div">
                <div class="filter-name">Filter by price</div><select id="Pricing-3" name="Pricing-3" data-name="Pricing 3" class="select-field w-select"><option value="Low to high">Low to high</option><option value="High to low">High to low</option></select></div>
              <div class="filter-div">
                <div class="filter-name">Filter by name</div><select id="Pricing-2" name="Pricing-2" data-name="Pricing 2" class="select-field w-select"><option value="Asc">Asc</option><option value="Desc">Desc</option></select></div>
            </div>
          </div>

        <!-- Products -->
        <div class="div-search">
          <div class="div-search-header" data-ix="increase-size-filter">
            <div>Type</div>
            <div class="button-overlay-mobile" data-ix="increase-size-filter"><img src="/images/arrow-right.svg" width="20" alt="" class="arrow-icon"></div>

          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown bot-top-padding">
                <%= system_types_filter %>
              </div>
            </form>
          </div>
        </div>
        <!-- Brands -->
        <div class="div-search">
          <div class="div-search-header" data-ix="increase-size-filter">
            <div>Brands</div>
            <div class="button-overlay-mobile" data-ix="increase-size-filter"><img src="/images/arrow-right.svg" width="20" alt="" class="arrow-icon"></div>

          </div>
          <div class="div-search-form w-form">
            <form id="brand-form" name="brand-form" data-name="Brand Form">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group="brands">
                  <%= brands_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Seer -->
        <div class="div-search">
          <div class="div-search-header" data-ix="increase-size-filter">
            <div>SEER</div>
            <div class="button-overlay-mobile" data-ix="increase-size-filter"><img src="/images/arrow-right.svg" width="20" alt="" class="arrow-icon"></div>

          </div>
          <div class="div-search-form w-form">
            <form id="seer-form" name="seer-form" data-name="Seer Form">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group="seers">
                  <%= seers_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Tonnage -->
        <div class="div-search">
          <div class="div-search-header" data-ix="increase-size-filter">
            <div>Tonnage</div>
            <div class="button-overlay-mobile" data-ix="increase-size-filter"><img src="/images/arrow-right.svg" width="20" alt="" class="arrow-icon"></div>

          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group="tonnage">
                  <%= tonnages_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End of Search Filter View -->

      <!-- Search Results View -->
      <div class="div-flex-h justify-start _75-with">

        <!-- Search Filter - Hide Mobile -->
        <div class="div-filter">
            <div class="header-search-filter hide-mobile">
              <div class="filter-div">
                <div class="filter-name">Filter by price</div><select id="Pricing" name="Pricing" data-name="Pricing" class="select-field w-select"><option value="Low to high">Low to high</option><option value="High to low">High to low</option></select></div>
              <div class="filter-div">
                <div class="filter-name">Filter by name</div><select id="Pricing-2" name="Pricing-2" data-name="Pricing 2" class="select-field w-select"><option value="Asc">Asc</option><option value="Desc">Desc</option></select></div>
            </div>
          </div>

        <% products.each do |unit| %>
          <%= partial "/partials/unit_thumbnail", locals: { unit: unit, mixit: true } %>
        <% end %>

        <%= partial "/partials/paginations" %>

      </div>
      <!-- End of Search Results View -->

    </div>
  </div>
</div>

<%= partial "/partials/section-cta" %>

<% content_for(:footer_scripts) do %>
  <%= javascript_include_tag "mixitup-helpers" %>
  <%= javascript_include_tag "listing-mixitup" %>
<% end %>
