<% content_for(:meta) do %>
  <%= title "Shop AC Units" %>
<% end %>

<%
  if system_type_query.present?
    products = data.products.select { |p| p['System Type'] == system_type_query }
  else
    products = data.products
  end

  products.reject! {|p| p['AHRI'].nil?}
%>

<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1">Air
    <strong>Conditioners</strong>
  </h1>
</div>

<%= partial "/partials/breadcrumbs", locals: {system_type_query: system_type_query}%>

<div class="section-product-listing">
  <div class="container">
    <div class="div-flex-h align-start">

      <!-- Search Filter View -->
      <div class="div-20">
        <!-- Products -->
        <div class="div-search">
          <div class="div-search-header">
            <div>Type</div>
          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown bot-top-padding">
                <%= system_types_filter %>
              </div>
            </form>
          </div>
        </div>
        <!-- Brands -->
        <div class="div-search">
          <div class="div-search-header">
            <div>Brands</div>
          </div>
          <div class="div-search-form w-form">
            <form id="brand-form" name="brand-form" data-name="Brand Form">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group>
                  <%= brands_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Seer -->
        <div class="div-search w-hidden-tiny">
          <div class="div-search-header">
            <div>SEER</div>
          </div>
          <div class="div-search-form w-form">
            <form id="seer-form" name="seer-form" data-name="Seer Form">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group>
                  <%= seers_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Tonnage -->
        <div class="div-search w-hidden-tiny">
          <div class="div-search-header">
            <div>Tonnage</div>
          </div>
          <div class="div-search-form w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <div class="div-search-dropdown">
                <div class="dropdown" data-filter-group>
                  <%= tonnages_filter %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End of Search Filter View -->

      <!-- Search Results View -->
      <div class="div-flex-h justify-start _75-with">

        <% products.each do |unit| %>
          <%= partial "/partials/unit_thumbnail", locals: { unit: unit, mixit: true } %>
        <% end %>

        <%= partial "/partials/paginations" %>

      </div>
      <!-- End of Search Results View -->

    </div>
  </div>
</div>

<%= partial "/partials/section-cta" %>
