<% content_for(:head) do %>
  <%= dato_meta_tags(dato.about) %>
   <link href="<%= current_page.url %>" rel="canonical" />
<% end %>

<div class="section-hero-interior">
    <h1 class="cta-heading" data-ix="hero-appear-1"><%= dato.about.title %></h1>
  </div>
  <div class="section-about">
    <div class="w-container">
      <div class="w-richtext">
        <%= dato.about.description %>
      </div>
    </div>
  </div>

  <%= partial "/partials/section-cta" %>
