<% content_for(:head) do %>
  <%= dato_meta_tags(dato.acrepair) %>
   <link href="<%= current_page.url %>" rel="canonical" />
<% end %>


<div class="section-hero-interior">
    <%= dato.acrepair.title %>
  </div>
  <div class="section-about">
    <div class="w-container">
      <div class="w-richtext">
        <%= dato.acrepair.description %>

      </div>
    </div>
  </div>
  <div class="section-cta">
    <div class="div-65" data-ix="appear-from-bottom">
      <%= dato.acrepair.redblock %>
<a href="tel:1954673837" class="button dark-color w-button"><%= dato.acrepair.red_block_button %></a></div>
  </div>
  <div class="section-maintenance-agreements">
    <div class="div-50">
      <%= dato.acrepair.preventative %>  </div>
    <div class="div-45">
      <div class="div-quote-block full" data-ix="appear-from-bottom">
        <div>
          <%= dato.acrepair.comfort_level %>
        </div>
        <a data-ix="open-item-added"
           data-item-id="001"
           data-item-name="Comfort level preventative maintenance plan"
           data-item-price="<%= dato.acrepair.comfort_price %>"
           data-item-url="<%= current_page.url %>"
           data-item-description="The COMFORT level preventative maintenance plan provides your home two annual visits"
        href="#" class="snipcart-add-item button-underline bigger w-button">$<%= dato.acrepair.comfort_price %>.00/yr</a></div>
      <div class="div-quote-block full" data-ix="appear-from-bottom">
        <div>
          <%= dato.acrepair.platinum_level %>
        </div>
        <a data-ix="open-item-added"
           data-item-id="002"
           data-item-name="Platinum level preventative maintenance plan"
           data-item-price="<%= dato.acrepair.platinum_price %>"
           data-item-url="<%= current_page.url %>"
           data-item-description="The PLATINUM level preventative maintenance plan provides your home two annual"
        href="#" class="snipcart-add-item button-underline bigger w-button">$<%= dato.acrepair.platinum_price %>.00/yr</a></div>
    </div>
  </div>
