<% content_for(:head) do %>
  <%= dato_meta_tags(dato.financing) %>
   <link href="<%= current_page.url %>" rel="canonical" />
<% end %>


<div class="section-hero-interior">
  <h1 class="cta-heading" data-ix="hero-appear-1"><strong><%= dato.financing.title %></strong></h1>
</div>
<div class="section-about">
  <div class="msp-holder no-height">
    <div class="multi-step-form">
      <div class="form-wrapper second no-bot-margin w-form">
        <form id="wf-form-Financing" name="wf-form-Financing" data-name="Financing" action="/thank-you" method="post" data-netlify="true" netlify-honeypot="bot-field" class="w-clearfix">
          <div class="div-tow-collumn vertical">
            <%= dato.financing.description %>
            <div class="div-full-width">
              <div class="div-flex-h-2 no-min-height">
                <input type="text" id="bot-field" name="bot-field" data-name="bot-field" placeholder="bot-field" maxlength="256" class="text-field-2 bigger-field added-right-margin bot-field w-input"><input type="text" id="First-Name" name="First-Name" data-name="First Name" placeholder="First Name" maxlength="256" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="last-name" name="last-name" data-name="last-name" placeholder="Last Name" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div>
              <div class="div-flex-h-2 no-min-height"><input type="email" id="email" name="email" data-name="email" required="" maxlength="256" placeholder="Email Address" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="Telephone" name="Telephone" data-name="Telephone" placeholder="Phone Number" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div>
              <div class="div-flex-h-2 no-min-height"><input type="text" id="date-naissance" name="date-naissance" data-name="date-naissance" required="" maxlength="256" placeholder="Date of Birth" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="City" name="City" data-name="City" placeholder="City" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div>
              <div class="div-flex-h-2 no-min-height"><input type="text" id="address" name="address" data-name="address" placeholder="Street Address" maxlength="256" required="" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="zip-code" name="zip-code" data-name="zip-code" placeholder="Zip Code" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div>

              <div class="html-embed w-embed"><select class="select-field" style="width:100%;">
<option value="State">State</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="DC">District Of Columbia</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="HI">Hawaii</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="IA">Iowa</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="LA">Louisiana</option>
<option value="ME">Maine</option>
<option value="MD">Maryland</option>
<option value="MA">Massachusetts</option>
<option value="MI">Michigan</option>
<option value="MN">Minnesota</option>
<option value="MS">Mississippi</option>
<option value="MO">Missouri</option>
<option value="MT">Montana</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NY">New York</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="PA">Pennsylvania</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VT">Vermont</option>
<option value="VA">Virginia</option>
<option value="WA">Washington</option>
<option value="WV">West Virginia</option>
<option value="WI">Wisconsin</option>
<option value="WY">Wyoming</option>
</select></div><select id="housing-status" name="housing-status" data-name="housing-status" class="select-field w-select"><option value="Housing Status">Housing Status</option><option value="Own with a mortgage">Own with a mortgage</option><option value="Rent">Rent</option><option value="Own without a mortgage">Own without a mortgage</option><option value="Other">Other</option></select>
              <div class="div-flex-h-2 no-min-height"><input type="text" id="monthly-payment" name="monthly-payment" data-name="monthly-payment" placeholder="Monthly Payment" maxlength="256" required="" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="social-security-number" name="social-security-number" data-name="social-security-number" required="" maxlength="256" placeholder="Social Security Number" class="text-field-2 bigger-field w-input"></div>
              <div class="div-flex-h-2 no-min-height"><input type="text" id="annual-income" name="annual-income" data-name="annual income" placeholder="Annual Income" maxlength="256" required="" class="text-field-2 bigger-field added-right-margin w-input"><input type="text" id="requested-loan-amount" name="requested-loan-amount" data-name="requested loan amount" required="" maxlength="256" placeholder="Requested Loan Amount" class="text-field-2 bigger-field w-input"></div><select id="type-of-identification" name="type-of-identification" data-name="type of identification" class="select-field w-select"><option value="Identification Type">Identification Type</option><option value="Driver&#x27;s License">Driver&#x27;s License</option><option value="Government Issued ID">Government Issued ID</option><option value="State Issued ID">State Issued ID</option><option value="Passport">Passport</option><option value="Military ID">Military ID</option></select>
              <div class="html-left w-embed">ID Photo : <input type="file" class="custom-file-input" name="file" id="file"></div>
              <div class="div-flex-h-2 no-min-height"><input type="text" id="expiration-date" name="expiration-date" data-name="expiration-date" placeholder="Expiration Date" maxlength="256" required="" class="text-field-2 bigger-field w-input"></div>
              <div class="w-embed"><select class="select-field" style="width:100%;">
<option value="Issuing State">Issuing State</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="DC">District Of Columbia</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="HI">Hawaii</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="IA">Iowa</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="LA">Louisiana</option>
<option value="ME">Maine</option>
<option value="MD">Maryland</option>
<option value="MA">Massachusetts</option>
<option value="MI">Michigan</option>
<option value="MN">Minnesota</option>
<option value="MS">Mississippi</option>
<option value="MO">Missouri</option>
<option value="MT">Montana</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NY">New York</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="PA">Pennsylvania</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VT">Vermont</option>
<option value="VA">Virginia</option>
<option value="WA">Washington</option>
<option value="WV">West Virginia</option>
<option value="WI">Wisconsin</option>
<option value="WY">Wyoming</option>
</select></div><select id="Credit-Score-Range" name="Credit-Score-Range" data-name="Credit Score Range" class="select-field w-select"><option value="Credit Score Range">Credit Score Range</option><option value="500-599">500-599</option><option value="600-699">600-699</option><option value="700+">700+</option></select>
              <div class="div-full-width">
                <%= dato.financing.agreement %>
                <div class="checkbox-form w-checkbox"><input type="checkbox" id="Agreement" name="Agreement" data-name="Agreement" required="" class="w-checkbox-input"><label for="Agreement" class="w-form-label"><strong>I agree</strong></label></div>
              </div>
            </div>
          </div>
          <div class="div-spacer-2"></div><input type="submit" data-wait="Please wait..." value="SEND" class="submit final no-margin-right w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
</div>
