<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
   <link href="<%= current_page.url %>" rel="canonical" />
<% end %>


<div class="section-hero">
  <div class="div-cta">
    <%= dato.homepage.hero_title %>
    <%= dato.homepage.hero_description %>
    <div class="logo-provider">
      <div class="logo-provider-item"><img src="images/home-advisor.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/Google-guaranteed.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/yelp.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/Google-reviews.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/BBC-Accredited.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/angies-list-certified.png" alt=""></div>
      <div class="logo-provider-item"><img src="images/bonded-insured.png" alt=""></div>
    </div>
    <a href="/instant-quote" class="button w-button" data-ix="hero-appear-3"><%= dato.homepage.hero_button %>
</a>
  </div>
</div>
<div class="section-quote-call">
  <% dato.homepage.block.each do |block| %>
  <div class="div-quote-block"><img src="<%= block.image.url %>" width="70" alt="">
    <h2><%= block.title %></h2>
    <a href="/beat-my-quote" class="button w-button"><%= block.button %></a>
  </div>
  <% end %>

</div>
<div class="section-cta">
  <div class="div-65" data-ix="appear-from-bottom">
    <%= dato.homepage.general_information %></div>
</div>
<div class="section-brands">
  <h3 class="cta-heading"<%= dato.homepage.brand_copy %></h3>
  <div class="div-flex-h logos">
    <% dato.brands.each do |brand| %>
    <a href="/ac-units/p-sc/" class="div-logo w-inline-block"><img src="<%= brand.logo.url %>" width="275" alt=""></a>
    <% end %>

  </div>
</div>

<%= partial "/partials/testimonials" %>

<% content_for(:footer_scripts) do %>
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<% end %>
